#jumbo {
    color: white;
    background-color: darkblue;
    margin: 0px auto 5px auto;
    height: 120px;
    padding-top: 20px;
}

#head1 {
    font-family: helvetica;

}

#title1 {
    font-size: 3rem;
    padding: 2px auto;
    /*text-shadow: 2px 2px grey 4px 4px 4px black;*/
}

#map {
    height: 30rem;
    width: 100%;
    margin: 5px auto 10px 2rem;
    border: 2px solid black;
}

#mainbody {
    height: auto;
    border: 4px double black;
    margin: 5px auto 10px 0px;
    width: 100%;
    text-align: center;
}

.row1 {
    background: yellow;
    height: 15rem;
}

#label1 {
    font-family: helvetica;
    font-size: 1.5rem;
}

input {
    text-align: center;
    margin: 2px auto;
}

footer {
    padding-top: 10px;
    font-size: 0.95rem;
    color: white;
    height: 40px;
    background-color: darkblue;
    text-align: center;
}

ul {
    list-style: none;
}

h3 {
    font-weight: bold;
    text-align: center;
}
